@charset "utf-8";
/* CSS Document */
*{
	margin:0 ;
	padding:0 ;
	}
body{
	background-image:url(../images/j.jpg) ;
	background-position:10px 10px ;
	background-repeat:no-repeat ;
	background-attachment:fixed ;
	/*background-attachment:fixed ;*/
	}
p{
	font-size:20px ;
	text-indent:32px ;
	line-height:50px;
	color:orange ;
	margin:20px auto ;
	}